/*
Stylesheet for all pages
*/
body{
    background-color:#F2F2F0;
}
footer{
    padding:1% 1% 1% 1%;
    margin-top: 3%;
    background-color: #222222;
    color: whitesmoke;
}
hr{
    border: 1px solid #d4d4d4;
    width: 20%;
    border-radius: 10%;
}
a, a:hover{
    color:#AD8A53;
    text-decoration: none;
}
#formation{
    float: right;
}
.marginBody{
    margin-top: 5%;
}
.navbar{
    border:0;
}

