/*
Booking page stylesheet
*/
hr{
    margin-top: 3%;
    margin-bottom: 3%;
}

/* Layout for all steps */
#logoImg{
    margin: 5% 0 0 1%;
}
#subTextLogo{
    margin-left: 2%;
}
#basketImg{
    padding-right: 3.5%;
    float: right;
    margin-top: -7%;
}
#basketText{
    font-size: 0.8em;
    padding-right: 1%;
    float: right;
    margin-top: -5%;
}
#stepOne, #stepTwo, #stepThree, #stepFour{
    text-align: center;
}
#priceContainer, #containerPriceStepTwo, #containerPriceStepThree{
    background-color: rgba(34,34,34,0.8);
    color: white;
    padding: 10px;
    margin-bottom: 3%;
    margin-top: 2%;
    border-radius: 2%;
    box-shadow: 1px 1px 4px black;
}
#containerPriceStepTwo, #containerPriceStepThree{
    text-align: center;
}

/* Funnel */
#funnelStepOne, #funnelstepTwo, #funnelStepThree, #funnelStepFour{
    margin: 0 0 5% -3%;
}
#funnelstepTwo #blocFunnelStepTwo {
    background-color: #AA8046;
    border-radius: 50%;
}
#funnelstepTwo #funnelBorder{
    background :linear-gradient(to right, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 33%, rgba(243,226,199,1) 33%, rgba(243,226,199,1) 33%);
}
#funnelStepThree #blocFunnelStepThree, #funnelStepThree #blocFunnelStepTwo {
    background-color: #AA8046;
    border-radius: 50%;
}
#funnelStepThree #funnelBorder{
    background :linear-gradient(to right, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 69%, rgba(243,226,199,1) 69%, rgba(243,226,199,1) 69%);
}
#funnelStepFour #blocFunnelStepFour, #funnelStepFour #blocFunnelStepTwo, #funnelStepFour #blocFunnelStepThree {
    background-color: #AA8046;
    border-radius: 50%;
}
#funnelStepFour #funnelBorder{
    background :linear-gradient(to right, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 100%, rgba(243,226,199,1) 100%, rgba(243,226,199,1) 100%);
}
#funnelBorder{
    background-color: #F3E2C7;
    height: 2px;
    margin-top: 10%;
    margin-bottom: -2%;
}
#blocFunnelStepOne, #blocFunnelStepTwo, #blocFunnelStepThree, #blocFunnelStepFour{
    width:20px;
    height: 20px;
    border-radius: 10%;
    position: absolute;
    background-color: #DADADA;
}
#blocFunnelStepOne{
    border-radius: 50%;
    background-color: #AA8046;
}
#blocFunnelStepTwo{
    margin-left: 30%;
}
#blocFunnelStepThree{
    margin-left: 63%;
}
#blocFunnelStepFour{
    margin-left: 94%;
}
#textFunnel{
    padding-top: 2%;
}
#textStepOne{
    margin-left: -8%;
}
#textStepTwo{
    margin-left: 14%;
}
#textStepThree{
    margin-left: 21%;
}
#textStepFour{
    float: right;
    margin-right: -8%;
}
.flash-info, .flash-warning{
    position: fixed;
    top:50px;
    z-index: 50;
    width:60%;
    margin-left: 20%;
    text-align: center;
    opacity:0.9;

}

/*Form step one stylesheet*/
#lg_corebundle_booking_dateReservation{
    text-align: center;
    width: 65%;
    margin-left: 15%;
}
#datepickerHelpText, #isDailyHelpText{
    position: absolute;
    right: 2%;
    font-size: 0.9em;
    padding: 20px 6px 6px 6px;
    margin-top: -2%;
    background-color: #DADADA;
    text-align: initial;
    border-radius: 1%;
    display: none;
}
#datepickerHelpCross, #isDailyHelpCross{
    float: right;
    margin-top: -15px;
    cursor: pointer;
}
#alertIcon{
    margin-right: 2px;
    margin-top: -2px;
}
#isReduced, #emailTextDescription{
    font-size: 0.9em;
    background-color: #DADADA;
    border-radius: 1%;
    margin-top: 1%;
    margin-bottom: 3%;
    padding: 1%;
}
#infoTicketsStepTwo{
    text-align: center;
}
#infoTicketsStepTwo p{
    text-align: center;
    font-weight: bold;
}
#checkboxIsDaily{
    font-weight: bold;
}
#choiceTicketNumber input{
    text-align: center;
    width: 40%;
    margin-left: 30%;
}
#choiceTicketNumber .col-md-2{
    border:1px solid #DADADA;
    padding:1%
}
#messageErrorIsReduce{
    display: none;
    border-radius: 2%;
    margin-top: 3%;
    padding:2%;
}
.price{
    font-size: 1.3em;
    margin: 1%;
}
.radio{
    display: inline;
    margin: 0 1% 0 1%;
}
.datepicker table tr td.new, .datepicker table tr td.old{
    opacity: 0.4;
    color: black;
}
.datepicker table tr td.disabled{
    background: rgba(218,218,218,0.8);

}
.datepicker table tr td.disabled, .datepicker table tr td.active, .datepicker table tr td.active:hover{
    border-radius: 2%;
}
.help{
    margin-top: -15px;
    cursor: pointer;
}
.ticketNumber{
    font-weight: bold;
}
.form-control[readonly]{
    background-color: white;
}

/*Form step two stylesheet*/
#infoTicketsStepTwo{
    margin-bottom: 5%;
}
#booking-form-container-step-two{
    margin: 3% 0 3% 0;
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#booking-form-container-step-two div{
    background-color: #DADADA;
    margin-left: 6.5%;
    margin-bottom: 50px;
    width:40%;
}
#booking-form-container-step-two .form-group{
    border-radius: 1%;
    padding: 10px;
    margin: 2% 4% 2% 4%;
    width: auto;
}
#booking-form-container-step-two .btn-primary{
    position:absolute;
    margin-top: -5%;
}
#booking-form-container-step-two .btn-default{
    margin-left: 42%;
    margin-bottom: 5%;
}
#booking-form-container-step-two .alert-danger{
    background-color: rgba(236, 148, 136, 0.3);
    margin-bottom: 5%;
    border-radius: 8%;
 }
#booking-form-container-step-two .messageErrorClient{
    margin:5%;
    width:auto;
    text-align: center;
    border-radius:2%;
}
#textRecapStepTwo{
    text-align: center;
}
#booking-form-container-step-two .visitor{
    margin-left:29%;
    margin-top:-4%;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #4B4B4B;
    color:white;
    border-radius: 2%;
    box-shadow: 1px 1px 3px black;
}
#booking-form-container-step-two .radioReducePrice, #booking-form-container-step-two .textChildPrice, #booking-form-container-step-two .textSeniorPrice{
    width:auto;
    font-weight: bold;
    margin:6%;
}
#booking-form-container-step-two .radioReducePrice label{
    margin:2%;
}
#persistMessage{
    width:50%;
    margin-top:5%;
}
.radioReducePrice #reduceText{
    font-weight: normal;
}
.booking-client__validate{
    margin-right:50%;
}


/*Stripe step three stylesheet*/
#status{
    margin-left:44%;
}
#status button{
    display:none;
}

/*Step Four Stylesheet*/
#confirmationPage{
    text-align: center;
}

/*Medias queries for booking page*/
@media screen and (max-width: 500px) {
    body{
        padding:3%;
    }
    footer{
        padding: 0;
    }
    body #logoImg{
        width: 40%;
        margin:25% 0 0 1%;
    }
    body #subTextLogo{
        display: none;
    }
    body #basketText{
        display: none;
    }
    body #basketImg{
        display: none;
    }
    body #funnelStepOne, body #funnelStepThree, body #funnelstepTwo, body #funnelStepFour{
        margin: 10% 0 15% 25%;
    }
    body #status{
        margin-left:27%;
    }
    #choiceTicketNumber{
        display:block;
        width: 80%;
        margin-left: 10%;
    }
    #choiceTicketNumber .col-md-2{
        padding: 5%;
    }
    #priceContainer{
        width: 50%;
        margin-left: 25%;
    }
    #containerPriceStepTwo{
        width: 80%;
        margin-left: 9%;
    }
    #isReduced{
        width: 90%;
        margin-left: 4%;
    }
    #funnelBorder{
        margin-bottom: -8%;
    }
    #blocFunnelStepTwo{
        margin-left: 26% !important;
    }
    #blocFunnelStepThree{
        margin-left: 56% !important;
    }
    #blocFunnelStepFour{
        margin-left: 82% !important;
    }
    #booking-form-container-step-two{
        display: block;
    }
    #booking-form-container-step-two .booking-form-container{
        width: 85%;
    }
    .marginBody .booking-client__validate{
        margin-left: 24%;
    }
}
@media screen and (max-width: 981px) {
    #textFunnel{
        display:none;
    }
    #logoImg{
        margin: 6% 0 0 1%;
    }
    #funnelStepOne, #funnelstepTwo, #funnelStepThree, #funnelStepFour{
        margin:0 0 5% 25%;
        width: 50%;
    }
    #basketImg{
        margin-top:-10%;
    }
    #basketText{
        margin-top: -7%;
    }
    #blocFunnelStepFour{
        margin-left:91%;
    }
    #persistMessage{
        margin-left: 30%;
    }
    #datepickerHelpText, #isDailyHelpText{
        display: inline;
        position: inherit;
        right: 0;
        padding:1%;
        background-color: inherit;
        text-align: center;
        border-radius: 0;
    }
    #datepickerHelpCross, #isDailyHelpCross{
        display: none
    ;
    }
    #datepickerHelp, #isDailyHelp{
        display: none;
    }
    #lg_corebundle_booking_email {
        margin-left: 17%;
    }
    #choiceTicketNumber .col-md-2{
        border:0;
    }
    #booking-form-container-step-two .form-control{
        width:100%;
    }
    #status{
        margin-left:40%;
    }
    .messageErrorClient{
        margin-left: 30%;
    }
    .booking-client__validate{
        margin-left:44%;
    }
    .form-control{
        width: auto;
        text-align: center;
    }
}
@media screen and (min-width:501px) and (max-width: 981px){
    #lg_corebundle_booking_dateReservation{
        width:auto;
        margin-left: 36%;
    }
    #choiceTicketNumber input{
        width:auto;
        margin-left: 36%;
    }
    #priceContainer{
        width:27%;
        margin-left: 36%;
    }
    #containerPriceStepTwo{
        width: 80%;
        margin-left: 9%;
    }
    #lg_corebundle_booking_email{
        margin-left: 36%;
    }
    #funnelBorder{
        margin-bottom: -3%;
    }
    #selectType{
        margin: 3% 0 3% 0;
        width: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #selectType div{
        margin-bottom: 20px;
        width:40%;
    }
    #selectType label{
        margin-left:45%;
    }
    .booking-client__validate{
        margin-left:38%;
    }
}
@media screen and (max-width: 1200px) {
    #textFunnel{
        display: none;
    }
    .navbar-brand{
        display: none;
    }
}
@media screen and (min-width: 1500px) {
    #funnel {
        margin-left: 15%;
    }
    #basketImg {
        padding-right: 2.5%;
        margin-top: -6.5%;
    }
}
@media screen and (min-width: 1700px) {
    #funnelStepOne, #funnelstepTwo, #funnelStepThree, #funnelStepFour {
        margin: 0 0 5% 15%;
    }
    #choiceTicketNumber{
        margin-left:0;
    }
    #isDailyHelpText{
        margin-top: -3%;
    }
}
