body h1{
    font-size: 24px;
}
body hr{
    border: 1px solid black;
    margin: 30%;
}
#side{
    float:left;
    margin-top: 3%;
    text-align: center;
    background-color: #DADADA;
    border-radius: 2%;
    padding: 2%;
}
#main{
    margin-top: 5%;
}
#infoReservation{
    margin-top: 7%;
}
#qr{
    width: 40%;
    margin:5%;
}
#pdfTickets{
    margin-top: 5%;
    font-size: 1.2em;
    margin-left: 7%;
}
.clientsInfos div{
    margin-top: 5%;
    background-color: #DADADA;
    border-radius: 1%;
    text-align: center;
    padding:2%;
}