/*
Stylesheet for all pages
*/
body{
    background-color:#F2F2F0;
}
footer{
    padding:1% 1% 1% 1%;
    background-color: #222222;
    color: whitesmoke;
}
a, a:hover{
    color:#AD8A53;
    text-decoration: none;
}
#formation{
    float: right;
}
.marginBody{
    margin-top: 5%;
}
.navbar{
    border:0;
}
