/*
Booking page stylesheet
*/
hr{
    margin-top: 3%;
    margin-bottom: 3%;
}
#logoImg{
    margin: 5% 0 0 1%;
}
#subTextLogo{
    margin-left: 2%;
}
#basketImg{
    padding-right: 3.5%;
    float: right;
    margin-top: -7%;
}
#basketText{
    font-size: 0.8em;
    padding-right: 1%;
    float: right;
    margin-top: -5%;
}

/*Funnel*/
#funnelStepOne, #funnelstepTwo{
    margin: 0 0 5% 0;
}
#funnelstepTwo #blocFunnelStepTwo {
    background-color: #AA8046;
    border-radius: 50%;
}
#funnelstepTwo #funnelBorder{
    background :linear-gradient(to right, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 33%, rgba(243,226,199,1) 33%, rgba(243,226,199,1) 33%);
}

#funnelBorder{
    background-color: #F3E2C7;
    height: 2px;
    margin-top: 10%;
    margin-bottom: -2%;
}
#blocFunnelStepOne, #blocFunnelStepTwo, #blocFunnelStepThree, #blocFunnelStepFour{
    width:20px;
    height: 20px;
    border-radius: 10%;
    position: absolute;
    background-color: #DADADA;
}
#blocFunnelStepOne{
    border-radius: 50%;
    background-color: #AA8046;
}

#blocFunnelStepTwo{
    margin-left: 30%;
}
#blocFunnelStepThree{
    margin-left: 63%;
}
#blocFunnelStepFour{
    margin-left: 94%;
}
#textFunnel{
    padding-top: 2%;
}
#textStepOne{
    margin-left: -8%;
}
#textStepTwo{
    margin-left: 14%;
}
#textStepThree{
    margin-left: 21%;
}
#textStepFour{
    float: right;
    margin-right: -8%;
}
#stepOne, #stepTwo, #stepThree, #stepFour{
    text-align: center;
}
/*
#stepTwo, #stepThree, #stepFour{
    display: none;
}*/

/*Form stylesheet*/
#isReduced, #infoTicketsStepTwo, #emailTextDescription{
    font-size: 0.9em;
    background-color: #DADADA;
    border-radius: 1%;
    margin-top: 1%;
    margin-bottom: 3%;
    padding: 1%;
}
#choiceTicketNumber{
    margin-left: -16%;
}
#choiceTicketNumber select{
    width: 60%;
    margin-left: 20%;
}
#choiceTicketNumber .col-md-1{
    width: 14%;
}
#checkboxIsDaily{
    font-weight: bold;
}
#lg_corebundle_booking_dateReservation{
    text-align: center;
    width: 65%;
    margin-left: 15%;
}
#datepickerHelpText, #isDailyHelpText{
    position: absolute;
    right: 2%;
    font-size: 0.9em;
    padding: 20px 6px 6px 6px;
    margin-top: -2%;
    background-color: #DADADA;
    text-align: initial;
    border-radius: 1%;
    display: none;
}
#datepickerHelpCross, #isDailyHelpCross{
    float: right;
    margin-top: -15px;
    cursor: pointer;
}
#booking-form-container-step-two .btn-primary{
    position:absolute;
    margin-top: -5%;
}
#booking-form-container-step-two .btn-default{
    margin-left: 42%;
    margin-bottom: 5%;
}
#booking-form-container-step-two .form-group{
    border-radius: 1%;
    padding: 10px;
    margin: 2% 4% 2% 4%;
    width: auto;
}
#booking-form-container-step-two{
    margin: 3% 0 3% 0;
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#booking-form-container-step-two div{
    background-color: #DADADA;
    margin-left: 5%;
    margin-bottom: 2%;
    width:40%;
}
/*
#alertStepOneDate, #alertStepOneisDaily, #alertStepOneTicket, #alertStepTwoEmail, #alertStepTwoClient, #alertStepThreeCgv{
    margin-top: 2%;
    display: none;
}*/
#messageErrorIsReduce{
    display: none;
    border-radius: 2%;
    margin-top: 3%;
    padding:2%;
}
#infoTicketsStepTwo{
    margin-bottom: 5%;
}
#cgv{
    text-align: center;
}
#cgv_yes, #cgv_no{
    margin:5px;
}
#alertIcon{
    margin-right: 2px;
    margin-top: -2px;
}
#booking-form-container-step-two .alert-danger{
    margin-left: 30%;
    background-color: rgba(236, 148, 136, 0.3);
    margin-bottom: 5%;
    border-radius: 8%;
}
.radio{
    display: inline;
    margin: 0 1% 0 1%;
}
.datepicker table tr td.new, .datepicker table tr td.old{
    opacity: 0.4;
    color: black;
}
.datepicker table tr td.disabled{
    background: rgba(218,218,218,0.8);

}
.datepicker table tr td.disabled, .datepicker table tr td.active, .datepicker table tr td.active:hover{
    border-radius: 2%;
}
.help{
    margin-top: -15px;
    cursor: pointer;
}
.validationForm{
    margin-top: 3%;
}
.ticketNumber{
    font-weight: bold;
}
.form-control[readonly]{
    background-color: white;
}

/*Medias queries for booking page*/
@media screen and (min-width: 1500px) {
    #funnel {
        margin-left: 15%;
    }

    #basketImg {
        padding-right: 2.5%;
        margin-top: -6.5%;
    }
}