{% extends "LGCoreBundle::layout.html.twig" %}

{%  block body %}
    <img src="{{ asset('bundles/lgcore/img/logo.png') }}" alt="logo_musee_du_louvre" id="logoImg"/>
    <p id="subTextLogo">Billetterie en ligne</p>
    <img src="{{ asset('bundles/lgcore/img/basket.png') }}" alt="panier" id="basketImg"/>
    <p id="basketText">Vous avez 0 billet(s)<br/> dans votre panier</p>

    <div class="container" id="funnel">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div id="funnelBorder"></div>
                <div id="blocFunnelStepOne"></div>
                <div id="blocFunnelStepTwo"></div>
                <div id="blocFunnelStepThree"></div>
                <div id="blocFunnelStepFour"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-4" id="textFunnel">
                <span id="textStepOne">Ajouter au panier</span>
                <span id="textStepTwo">Détails billets</span>
                <span id="textStepThree">Paiement</span>
                <span id="textStepFour">Confirmation</span>
            </div>
        </div>
    </div>

    <div class="container marginBody">
        <div id="stepOne">Ici se trouvera l'étape une<br/><hr>
        <button class="btn btn-primary" id="stepOneButton">Ajouter au panier</button></div>
        <div>
            {% for booking in listBookings %}
            {{ booking.email }} souhaite commander {{ booking.ticketNumber }} billets d'entrée.<br/>
            {% endfor %}
        </div>

        <div id="stepTwo">Ici se trouvera l'étape deux<br/><hr>
        <button class="btn btn-primary" id="stepTwoButton">Valider la commande</button></div>

        <div id="stepThree">Ici se trouvera l'étape trois<br/><hr>
        <button class="btn btn-primary" id="stepThreeButton">Finaliser la commande</button></div>

        <div id="stepFour">Ici se trouvera le message de confirmation<br/><hr>
            <a href="/"><button class="btn btn-primary">Accueil</button></a></div>
    </div>
{% endblock %}
