{% extends "LGCoreBundle::layout.html.twig" %}

{%  block body %}
    <div class="container marginBody">
        <div class="row">
            <div id="booking-form-container-step-two" class="col-sm-12" data-create-url="{{ path('booking.client.create', {"id" : booking.id}) }}">
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% javascripts
    '@js'
    'bundles/lgcore/js/booking-namespace.js'
    'bundles/lgcore/js/model/clientModel.js'
    'bundles/lgcore/js/booking.js'
    'bundles/lgcore/plugin/form-master/jquery.form.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}