{% extends "LGCoreBundle::layout.html.twig" %}

{%  block body %}
<div class="container" style="margin-top: 5%;">
    Ici se trouvera l'étape une
    <button>Ajouter au panier</button>
    Ici se trouvera l'étape deux
    <button>Valider la commande</button>
    Ici se trouvera l'étape trois
    <button>Finaliser la commande</button>
</div>
{% endblock %}
