{% extends "LGCoreBundle::layout.html.twig" %}

{% block body %}

    <img src="{{ asset('bundles/lgcore/img/logo.png') }}" alt="logo_musee_du_louvre" id="logoImg"/>
    <p id="subTextLogo">Billetterie en ligne</p>
    <img src="{{ asset('bundles/lgcore/img/basket.png') }}" alt="panier" id="basketImg"/>
    <p id="basketText">Vous avez <span id="numberTickets">{{ numberTickets }}</span> billet(s)<br/> dans votre panier</p>
    <!--
Funnel
-->
    <div class="container" id="funnelStepThree">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div id="funnelBorder"></div>
                <div id="blocFunnelStepOne"></div>
                <div id="blocFunnelStepTwo"></div>
                <div id="blocFunnelStepThree"></div>
                <div id="blocFunnelStepFour"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-4" id="textFunnel">
                <span id="textStepOne">Ajouter au panier</span>
                <span id="textStepTwo">Détails billets</span>
                <span id="textStepThree">Paiement</span>
                <span id="textStepFour">Confirmation</span>
            </div>
        </div>
    </div>
    <!-- //end of Funnel -->

<div class="container marginBody" id="cgv">

    <p>Acceptez-vous <a href="/cgv">les conditions générales de vente</a> ?</p>

    <form>
        <input type="checkbox" id="cgv_yes">Oui
        <input type="checkbox" id="cgv_no">Non
    </form>
<br/><hr>
    <a href="{{ path('booking.create.stepFour', {"id" : booking.id}) }}"><button class="btn btn-primary">Finaliser la commande</button></a>
</div>

{% endblock %}