{%  extends "LGCoreBundle::layout.html.twig" %}

{% block body %}

    <div class="container marginBody">
        Ici se trouvera la page de confirmation/remerciements<br/><hr>
        <a href="{{ path('home.index') }}"><button class="btn btn-primary">Retour à l'accueil</button></a>
    </div>

{% endblock %}